.content-section {
  margin: 12rem 0;
}

.hero {
  background-color: seagreen;
  .subheading {
    span {
      font-family: "Poppins Bold";
      text-decoration: underline;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  background-color: orangered;
  p {
    max-width: 30rem;
    // line-height: 150%;
    font-size: $mobile-body-m;
  }
}

.education {
  background-color: goldenrod;
}

.education-content {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.education-timeline {
  width: 12px;
  height: 300px;
  border-radius: 19px;
  background: $white;
  margin: 0 2.375rem;
}

.education-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.education-year {
  position: absolute;
  left: 0%;
  top: -40%;
  font-family: "Poppins Bold";
}

.education-card {
  position: relative;
  background-color: hsla(259, 27%, 27%, 0.2);
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.education-logo {
  background-color: $white;
  width: 60px;
  height: 60px;
  border-radius: 36rem;
  position: absolute;

  top: 10%;
  left: -32.25%;
}

.skills {
  background-color: sienna;
  text-align: center;

  .marquee-wrapper {
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  @keyframes scrollLeft {
    to {
      left: -125px;
    }
  }

  @keyframes scrollRight {
    to {
      right: -125px;
    }
  }

  .item-start-right {
    width: 125px;
    height: 100px;
    background: rgba(63, 51, 89, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    position: absolute;
    left: max(calc(125px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .item-start-left {
    width: 125px;
    height: 100px;
    background: rgba(63, 51, 89, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    position: absolute;
    right: max(calc(125px * 5), 100%);
    animation-name: scrollRight;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .item1 {
    animation-delay: calc(20s / 5 * (5 - 1) * -1);
  }
  .item2 {
    animation-delay: calc(20s / 5 * (5 - 2) * -1);
  }
  .item3 {
    animation-delay: calc(20s / 5 * (5 - 3) * -1);
  }
  .item4 {
    animation-delay: calc(20s / 5 * (5 - 4) * -1);
  }
  .item5 {
    animation-delay: calc(20s / 5 * (5 - 5) * -1);
  }
}

.projects {
  background-color: salmon;
}

.contact {
  background-color: mediumblue;
}
