@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

main {
  margin: auto;
  max-width: 50rem;
}

html,
button,
input {
  font-family: "Poppins";
}

body {
  background-color: $dark-purple;
  color: $white;
  padding: 3rem;

  background-image: url(../assets/images/mobile-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins Bold";
  line-height: normal;
}

h1 {
  font-size: $mobile-h1;
}
h2 {
  font-size: $mobile-h2;
  text-transform: lowercase;
  margin: 1rem 0;
}
h3 {
  font-size: $mobile-h3;
  margin: 1rem 0;
}
h4 {
  font-size: $mobile-h4;
  margin-bottom: 0.5rem;
}

p {
  line-height: 150%;
}

.subheading {
  font-size: $mobile-subheading;
}

@media (min-width: 768px) {
  main {
    max-width: 120rem;
  }

  body {
    padding: 0 16rem;
    background-image: url(../assets/images/desktop-background.png);
  }

  h1 {
    font-size: $desktop-h1;
  }
  h2 {
    font-size: $desktop-h2;
    text-transform: lowercase;
    margin: 1rem 0;
  }
  h3 {
    font-size: $desktop-h3;
    margin: 1rem 0;
  }
  h4 {
    font-size: $desktop-h4;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $desktop-body;
    line-height: 150%;
  }

  .subheading {
    font-size: $desktop-subheading;
  }
}
