@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

html,
button,
input {
  font-family: "Poppins";
}

body {
  background-color: $dark-purple;
  color: $white;
  padding: 3rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins Bold";
  line-height: normal;
}

h1 {
  font-size: $mobile-h1;
}
h2 {
  font-size: $mobile-h2;
  text-transform: lowercase;
}
h3 {
  font-size: $mobile-h3;
}
h4 {
  font-size: $mobile-h4;
}

p {
  line-height: 150%;
}

.subheading {
  font-size: $mobile-subheading;
}
