// Colors
$white: hsl(0, 0%, 98%);
$light-grey: hsl(0, 0%, 63%);
$ultra-violet: hsl(259, 27%, 27%);
$see-through-violet: hsla(259, 27%, 27%, 0.99);
$transparent-violet: hsla(259, 27%, 27%, 0.4);
$very-transparent-violet: hsla(259, 27%, 27%, 0.2);
$dark-purple: hsl(256, 46%, 9%);

$faded-blue: hsl(231, 38%, 34%);
$black: hsl(240, 20%, 5%);

// Font Sizes
$mobile-h1: 45px;
$mobile-h2: 30px;
$mobile-h3: 20px;
$mobile-h4: 16px;
$mobile-subheading: 14px;
$mobile-body-m: 12px;
$mobile-body-s: 10px;

$desktop-h1: 108px;
$desktop-h2: 60px;
$desktop-h3: 40px;
$desktop-h4: 30px;
$desktop-subheading: 24px;
$desktop-body: 18px;
