// Colors
$white: hsl(0, 0%, 98%);
$ultra-violet: hsl(259, 27%, 27%);
$dark-purple: hsl(256, 46%, 9%);

// Font Sizes
$mobile-h1: 52px;
$mobile-h2: 30px;
$mobile-h3: 20px;
$mobile-h4: 16px;
$mobile-subheading: 14px;
$mobile-body-m: 12px;
$mobile-body-s: 10px;
