// Colors
$white: hsl(0, 0%, 98%);
$ultra-violet: hsl(259, 27%, 27%);
$dark-purple: hsl(256, 46%, 9%);

// Font Sizes
$mobile-h1: 45px;
$mobile-h2: 30px;
$mobile-h3: 20px;
$mobile-h4: 16px;
$mobile-subheading: 14px;
$mobile-body-m: 12px;
$mobile-body-s: 10px;

$desktop-h1: 108px;
$desktop-h2: 60px;
$desktop-h3: 40px;
$desktop-h4: 30px;
$desktop-subheading: 24px;
$desktop-body: 18px;
