@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
:root {
  color-scheme: dark;
}

main {
  margin: auto;
  max-width: 50rem;
}

html,
button,
input {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body {
  background-color: hsl(256, 46%, 9%);
  color: hsl(0, 0%, 98%);
  padding: 3rem;
  background-image: url(../assets/images/mobile-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins Bold";
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
  text-transform: lowercase;
  line-height: normal;
  margin: 1rem 0;
}

h3 {
  font-size: 20px;
  line-height: normal;
  margin: 1rem 0;
}

h4 {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0.5rem;
}

p {
  line-height: 150%;
}

.subheading {
  font-size: 14px;
}

@media (min-width: 768px) {
  main {
    max-width: 120rem;
  }
  body {
    padding: 0 8rem;
    background-image: url(../assets/images/desktop-background.png);
  }
  h1 {
    font-size: 108px;
  }
  h2 {
    font-size: 60px;
    text-transform: lowercase;
    margin: 1rem 0;
  }
  h3 {
    font-size: 40px;
    margin: 1rem 0;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 18px;
    line-height: 150%;
  }
  .subheading {
    font-size: 24px;
  }
}
.content-section {
  margin: 12rem 0;
}

#nav-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-links {
  position: absolute;
  visibility: hidden;
  top: 0px;
  width: min(100%, 300px);
  z-index: 10001;
  background: hsla(259, 27%, 27%, 0.99);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.open {
  visibility: visible;
  top: 30px;
  opacity: 1;
}

.nav-link {
  display: inline;
  text-transform: lowercase;
  font-size: 12px;
  color: hsl(0, 0%, 63%);
  margin: 12px 0;
  padding: 0 25px;
  transition: all 0.5s ease;
}
.nav-link li {
  position: relative;
}
.nav-link li:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -10%;
  width: 0;
  background: hsl(0, 0%, 98%);
  transition: width 0.2s;
}
.nav-link li:hover {
  color: hsl(0, 0%, 98%);
}
.nav-link li:hover:after {
  width: 100%;
}

.menu-button i {
  font-size: 20px;
  color: hsl(0, 0%, 98%);
  display: block;
}

#hero .subheading span {
  font-family: "Poppins Bold";
  text-decoration: underline;
}
#hero .subheading span span {
  border-right: 0.1em solid;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
#about p {
  max-width: 30rem;
  font-size: 12px;
}

#education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#education h2 {
  align-self: flex-start;
}

.education-content {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.education-timeline {
  width: 12px;
  height: 300px;
  border-radius: 19px;
  background: hsl(0, 0%, 98%);
  margin: 0 2.375rem;
}

.education-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.education-year {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -40%;
  font-family: "Poppins Bold";
}

.education-card {
  position: relative;
  background-color: hsla(259, 27%, 27%, 0.2);
  width: 21.2rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 1.5rem;
}
.education-card .subheading {
  font-family: Poppins Bold;
}

.education-logo {
  background-color: hsl(0, 0%, 98%);
  width: 60px;
  height: 60px;
  border-radius: 36rem;
  position: absolute;
  top: 10%;
  left: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education-logo img {
  height: 40px;
}

.ucsd-logo img {
  padding-bottom: 5px;
}

#skills {
  text-align: center;
}
#skills h3 {
  text-transform: lowercase;
}
#skills .marquee-wrapper {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-bottom: 5rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}
@keyframes scrollLeft {
  to {
    left: -125px;
  }
}
@keyframes scrollRight {
  to {
    right: -125px;
  }
}
#skills .skill-item {
  width: 125px;
  height: 100px;
  background: hsla(259, 27%, 27%, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#skills .skill-item img {
  height: 75px;
}
#skills .scroll-left {
  left: max(625px, 100%);
  animation-name: scrollLeft;
}
#skills .scroll-right {
  right: max(625px, 100%);
  animation-name: scrollRight;
}
#skills .skill-item:nth-of-type(1) {
  animation-delay: -16s;
}
#skills .skill-item:nth-of-type(2) {
  animation-delay: -12s;
}
#skills .skill-item:nth-of-type(3) {
  animation-delay: -8s;
}
#skills .skill-item:nth-of-type(4) {
  animation-delay: -4s;
}
#skills .skill-item:nth-of-type(5) {
  animation-delay: 0s;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects h2 {
  align-self: flex-end;
}

.project-card-wrapper {
  position: relative;
  background-color: hsla(259, 27%, 27%, 0.2);
  max-width: 300px;
  border-radius: 20px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card-wrapper:hover {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  transform: translateY(-1%);
}

.project-image-holder {
  max-width: 300px;
  height: 145px;
  border-radius: 20px 20px 0px 0px;
  background: url(../assets/images/portfolio-preveiw.png) lightgray 50%/cover no-repeat;
}

.project-content {
  padding: 1.5rem;
}
.project-content p {
  color: #a0a0a0;
}

.project-links {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.project-links div {
  padding: 6px 15px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.project-links .live-site {
  background-color: hsl(231, 38%, 34%);
}
.project-links .github-repo {
  background-color: hsl(240, 20%, 5%);
}
.project-links div:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact h2 {
  align-self: center;
}
#contact h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.contact-card-wrapper {
  max-width: 300px;
  background-color: hsla(259, 27%, 27%, 0.2);
  padding: 15px 25px;
  border-radius: 10px;
}

.input-box input {
  border: none;
  border-radius: 5px;
  background-color: hsl(256, 46%, 9%);
  color: white;
  padding: 7px 11px 0px 11px;
  outline: none;
  font-size: 10px;
}

.input-box::-moz-placeholder {
  color: #a0a0a0;
}

.input-box::placeholder {
  color: #a0a0a0;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  gap: 20px;
}

.user-info input {
  width: 115px;
  padding-bottom: 10px;
}

.user-message input {
  width: 250px;
  padding-bottom: 50px;
}

#contact button {
  font-family: "Poppins";
  font-size: 10px;
  border-radius: 42px;
  border: none;
  background-color: hsl(259, 27%, 27%);
  color: white;
  padding: 5px 20px;
  text-transform: lowercase;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#contact button:hover {
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(5%);
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-5%);
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (min-width: 768px) {
  .content-section {
    margin: 15rem 0;
  }
  #nav-bar {
    display: inline-block;
    margin: 4rem 0;
  }
  .nav-bar-links {
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    left: 0%;
    background-color: transparent;
    width: 62.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-link {
    padding: 0;
  }
  .nav-link li {
    font-size: 18px;
  }
  .menu-button {
    display: none;
  }
  #about p {
    max-width: 55rem;
    font-size: 18px;
  }
  .education-content {
    flex-direction: column;
  }
  .education-timeline {
    margin: 7rem 0;
    width: 900px;
    height: 12px;
    border-radius: 19px;
  }
  .education-description {
    flex-direction: row;
  }
  .education-card {
    padding: 2rem 0;
    width: 36rem;
    margin: 0;
  }
  .education-logo {
    width: 100px;
    height: 100px;
    top: -95%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .education-logo img {
    height: 65px;
  }
  .education-year {
    top: -125%;
  }
  .ucsd-logo img {
    height: 75px;
    padding-bottom: 10px;
  }
  .skills-subsection {
    display: flex;
  }
  .frontend-section {
    flex-direction: row-reverse;
  }
  .marquee-wrapper {
    max-width: 0;
  }
  .project-card-wrapper {
    max-width: 550px;
  }
  .project-image-holder {
    max-width: 550px;
    height: 270px;
  }
  .project-content {
    padding: 3.5rem;
  }
  .project-links div {
    width: 189px;
    height: 50px;
    font-size: 18px;
  }
  .contact-card-wrapper {
    max-width: 930px;
    padding: 2rem 5rem;
    border-radius: 25px;
  }
  .input-box input {
    font-size: 18px;
    padding: 15px 15px 0px 15px;
  }
  .user-info input {
    width: 360px;
    padding-bottom: 2rem;
  }
  .user-message input {
    width: 740px;
    padding-bottom: 10rem;
  }
  #contact button {
    font-size: 18px;
    padding: 12px 34px;
  }
}/*# sourceMappingURL=main.css.map */