@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
html,
button,
input {
  font-family: "Poppins";
}

body {
  background-color: hsl(256, 46%, 9%);
  color: hsl(0, 0%, 98%);
  padding: 3rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins Bold";
  line-height: normal;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 30px;
  text-transform: lowercase;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  line-height: 150%;
}

.subheading {
  font-size: 14px;
}

.content-section {
  margin: 12rem 0;
}

.hero {
  background-color: seagreen;
}
.hero .subheading span {
  font-family: "Poppins Bold";
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  background-color: orangered;
}
.about p {
  max-width: 30rem;
  font-size: 12px;
}

.education {
  background-color: goldenrod;
}

.education-content {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.education-timeline {
  width: 12px;
  height: 300px;
  border-radius: 19px;
  background: hsl(0, 0%, 98%);
  margin: 0 2.375rem;
}

.education-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.education-year {
  position: absolute;
  left: 0%;
  top: -40%;
  font-family: "Poppins Bold";
}

.education-card {
  position: relative;
  background-color: hsla(259, 27%, 27%, 0.2);
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.education-logo {
  background-color: hsl(0, 0%, 98%);
  width: 60px;
  height: 60px;
  border-radius: 36rem;
  position: absolute;
  top: 10%;
  left: -32.25%;
}

.skills {
  background-color: sienna;
  text-align: center;
}
.skills h3 {
  text-transform: lowercase;
}
.skills .marquee-wrapper {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-bottom: 5rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}
@keyframes scrollLeft {
  to {
    left: -125px;
  }
}
@keyframes scrollRight {
  to {
    right: -125px;
  }
}
.skills .item-start-right {
  width: 125px;
  height: 100px;
  background: rgba(63, 51, 89, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: absolute;
  left: max(625px, 100%);
  animation-name: scrollLeft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.skills .item-start-left {
  width: 125px;
  height: 100px;
  background: rgba(63, 51, 89, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: absolute;
  right: max(625px, 100%);
  animation-name: scrollRight;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.skills .item1 {
  animation-delay: -16s;
}
.skills .item2 {
  animation-delay: -12s;
}
.skills .item3 {
  animation-delay: -8s;
}
.skills .item4 {
  animation-delay: -4s;
}
.skills .item5 {
  animation-delay: 0s;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-wrapper {
  position: relative;
  background-color: rgba(63, 51, 89, 0.2);
  max-width: 300px;
  height: 320px;
  border-radius: 20px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card-wrapper:hover {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.project-image-holder {
  width: 300px;
  height: 145px;
  border-radius: 20px 20px 0px 0px;
  background: url(../assets/images/portfolio-preveiw.png) lightgray 50%/cover no-repeat;
  mix-blend-mode: luminosity;
}

.project-content {
  padding: 1.5rem;
}
.project-content p {
  color: #a0a0a0;
}

.project-links {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.project-links div {
  padding: 6px 15px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-links .live-site {
  background-color: #364079;
}
.project-links .github-repo {
  background-color: #0a0a0f;
}

.contact {
  background-color: mediumblue;
}/*# sourceMappingURL=main.css.map */